@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background: url(./111858.jpg);
  display: flex;
  font-family: "Bubblegum Sans", cursive;
  animation: move-bg 20s linear infinite alternate forwards;
  .card {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;
    height: 80%;
    min-width: 300px;
    max-width: 500px;
    perspective: 2500px;
    transform-style: preserve-3d;

    .front,
    .back {
      height: 100%;
      transition: transform 1s ease;
      width: 100%;
      position: absolute;
      border-radius: 6px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }

    .front,
    .back {
      background: #1e1e1e;

      .absol-bg,
      .mega-absol-bg {
        //background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 65%;
        width: 100%;

        img {
          width: inherit;
        }
      }

      .absol-details,
      .mega-absol-details {
        height: 35%;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          text-align: center;
        }

        .absol,
        .absol-mega,
        .ability,
        .type {
          display: block;
          font-size: 35px;
          color: #ececec;
          padding: 5px;
          text-align: inherit;
        }
      }
    }

    .back {
      background: #1a1a1a;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      opacity: 1;
    }

    &:hover {
      .front {
        transform: rotateY(-180deg);
        opacity: 1;
        backface-visibility: hidden;
      }

      .back {
        transform: rotateY(0);
      }
    }
  }
}

@keyframes move-bg {
  from {
    background-position: 0 0;
    background-position: -400 0;
  }
}
